.orders-container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;

	display: flex;
  flex-direction: column;
}

.orders-container .pedidos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 50px;
}

.orders-container .pedidos h2 {
  font-size: 36px;
  color: rgba(12, 41, 208, 0.75);
}

.orders-container .pedidos .items {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.orders-container .pedidos .items .link {
  margin: 0 20px;
}