@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;500;700&display=swap');

.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .logo {
  font: bold 40px Solway;
  color:#ffffff;
  margin: 0 0 0 73px;
}

.form {
  width: 100%;
  margin-right: 30px;

  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  
}

form {
  margin: 60px 20px;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs input {
  margin: 30px 10px 0 0px;
}

.button {
  max-width: 400px;
  margin-top: 40px;
  margin-left: 30%;
  font-size: 30px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  background: rgba(12, 41, 208, 0.75);
  padding: 16px 0;

  border-radius: 10px 10px 0 0;
}

header img {
  margin-left: 30px;
}